<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset-UTF-8"/>
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.standalone.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Cobrança</title>
</head>
<body>

    <header layout:insert="Cabecalho"></header>

    <section layout:fragment="conteudo">
        <p>Conteudo principal</p>
    </section>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.pt-BR.min.js}"></script>
    <script th:src="@{/js/jquery.maskMoney.min.js}"></script>
    <script th:src="@{/js/cobranca.js}"></script>
</body>
</html>

